{% extends 'base.html' %}

{% block title %}
  <title>订单搜索</title>
{% endblock %}

{% block container %}

  <blockquote class="layui-elem-quote">
    订单列表
  </blockquote>

  {% csrf_token %}
  <form class="layui-form" action="." method="get">

    <fieldset class="layui-elem-field">
      <legend>搜索内容</legend>
      <div class="layui-field-box layui-col-md6">
        <!--客户查找-->
        <div class="layui-form-item">
          <label class="layui-form-label">客户名称</label>
          <div class="layui-input-block">
            <input type="text" name="customer" placeholder="按客户名称进行搜索" autocomplete="off"
                   class="layui-input" value="">
          </div>
        </div>
        <!--时间查询-->
        <div class="layui-form-item">
          <label class="layui-form-label">时间</label>
          <div class="layui-input-block">
            <input class="layui-input" type="text" name="date" value="" id="date" autocomplete="off">
          </div>
        </div>
        <!--状态查找-->
        <div class="layui-form-item">
          <label class="layui-form-label">订单状态</label>
          <div class="layui-input-block">
            <select name="status">
              <option value=""></option>
              <option value="1">待生产</option>
              <option value="2">生产中</option>
              <option value="3">待发货</option>
              <option value="4">订单完成</option>
            </select>
          </div>
        </div>
        <!--业务查找-->
        <div class="layui-form-item">
          <label class="layui-form-label">人员筛选</label>
          <div class="layui-input-block">
            <select name="salesperson">
              <option value=""></option>
              <option value="尹明辉">尹明辉</option>
              {% for user in user_list %}
              <option value="{{ user.name }}">{{ user.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="formDemo">提交搜索</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </fieldset>
  </form>

  <div>
    <table class="layui-table">
      <colgroup>
        <col width="3%">
        <col width="20%">
        <col width="27%">
        <col width="26%">
        <col width="6%">
        <col width="6%">
        <col width="6%">
        <col width="6%">
      </colgroup>
      <thead>
      <tr>
        <th></th>
        <th>客户名称</th>
        <th>产品信息及数量</th>
        <th>附加说明</th>
        <th>业务人员</th>
        <th>创建时间</th>
        <th>发货时间</th>
        <th>生产进度</th>
      </tr>
      </thead>
      <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ order.customer }}</td>
        <td>
          <table>
            <colgroup>
              <col width="97%">
              <col width="3%">
            </colgroup>
            <tbody>
            {% for product in order_list %}
              {% if product.order_id == order.order_id %}
                <tr>
                  <td>{{ product.good }}</td>
                  <td>{{ product.good_number }}</td>
                </tr>
              {% else %}
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </td>
        <td>{{ order.remark }}</td>
        <td>{{ order.salesperson }}</td>
        <td>{{ order.created_time|slice:"5:" }}</td>
        <td>{{ order.deliver_time|slice:"5:"|default_if_none:'' }}</td>
        <td><a class="layui-btn layui-btn-sm layui-btn-primary">{{ order.get_order_status_display }}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div>
    <nav>
      <ul class="pagination">
        <li class="step-links">
          {% if orders.has_previous %}
            <a class='active layui-btn layui-btn-normal layui-btn-sm' href="?page={{ orders.previous_page_number }}">上一页</a>
          {% endif %}

          <span class="current layui-btn layui-btn-primary layui-btn-sm">
            当前页 {{ orders.number }}. 共 {{ orders.paginator.num_pages }} 页.</span>

          {% if orders.has_next %}
            <a class='active layui-btn layui-btn-normal layui-btn-sm'
               href="?page={{ orders.next_page_number }}">下一页</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block footer %}
  <script>
      //Demo
      layui.use(['form', 'laydate'], function () {
          var form = layui.form
          var laydate = layui.laydate;

          laydate.render({
              elem: '#date',
              type: 'datetime',
              range: true
          });

          {#laydate.render({#}
          {#    elem: '#end'#}
          {#});#}
      });
  </script>
{% endblock %}