{% extends 'base.html' %}

{% block title %}
  <title>生产订单管理</title>
{% endblock %}

{% block container %}

  <blockquote class="layui-elem-quote" style="display: flex; justify-content: space-between;">
    生产订单列表

    {% if request.session.user_power == 1 or request.session.user_power == 4 %}
    <a href="{% url 'order_mine' %}" style="display: flex; justify-content: flex-end;">我的所有订单</a>
    {% endif %}
  </blockquote>

  <div>
    <table class="layui-table" lay-skin="row">
      <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="">
{#        <col width="7%">#}
        <col width="6%">
        <col width="6%">
        <col width="6%">
        <col width="6%">
        <col width="5%">
      </colgroup>
      <thead>
      <tr>
        <th>客户名称</th>
        <th>产品型号</th>
        <th>备注信息</th>
{#        <th>待生产数量</th>#}
        <th>业务人员</th>
        <th>创建时间</th>
        <th>发货时间</th>
        <th>生产进度</th>
        <th fixed="right">操作</th>
      </tr>
      </thead>
      <tbody>
      {% for order in order_list %}
      <tr>
        <td>{{ order.customer }}</td>
        <td>{{ order.good }} 等商品</td>
        <td>{{ order.remark }}</td>
{#        <td>{{ order.sumnumber }}</td>#}
        <td>{{ order.salesperson }}</td>
        <td>{{ order.created_time|slice:"5:" }}</td>
        <td>{{ order.deliver_time|slice:"5:"|default_if_none:'' }}</td>
        <td><a class="layui-btn layui-btn-sm layui-btn-primary">{{ order.get_order_status_display }}</a></td>
        <td><a class="layui-btn layui-btn-danger layui-btn-sm"
               onclick="return deleteOrder();" href="{% url 'order_del' order.order_id %}">删除</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if page_obj %}
    {% if page_obj.has_previous %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:;">当前页 {{ page_obj.number }} 共 {{ paginator.num_pages }} 页.</a>
    {% if page_obj.has_next %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block footer %}
  <script>
    layui.use('table', function(){
        var table = layui.table;
    })
  </script>
  <script type="text/javascript" language="JavaScript">
      function deleteOrder() {
          if (confirm("确定要删除该订单信息吗？")) {
              return true;
          } else {
              return false;
          }
      }
      /*  页面自动刷新
      function myrefresh() {
          window.location.reload();
      }
      setTimeout('myrefresh()', 5000); // 指定5秒刷新一次
      */
  </script>
{% endblock %}