{% extends 'base.html' %}

{% block title %}
  <title>生产订单管理</title>
{% endblock %}

{% block container %}

  <blockquote class="layui-elem-quote" style="display: flex; justify-content: space-between;">
    已完成生产订单列表

    {% if request.session.user_power == 1 or request.session.user_power == 4 %}
    <a href="{% url 'order_mine_finish' %}" style="display: flex; justify-content: flex-end;">我的所有订单</a>
    {% endif %}
  </blockquote>

  <div>
    <table class="layui-table">
      <colgroup>
        <col width="3%">
        <col width="20%">
        <col width="27%">
        <col width="26%">
        <col width="6%">
        <col width="6%">
        <col width="6%">
        <col width="6%">
      </colgroup>
      <thead>
      <tr>
        <th></th>
        <th>客户名称</th>
        <th>配件信息及数量</th>
        <th>附加说明</th>
        <th>业务人员</th>
        <th>创建时间</th>
        <th>发货时间</th>
        <th>生产进度</th>
      </tr>
      </thead>
      <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ order.customer }}</td>
        <td>
          <table>
            <colgroup>
              <col width="97%">
              <col width="3%">
            </colgroup>
            <tbody>
            {% for product in order_list %}
              {% if product.order_id == order.order_id %}
                <tr>
                  <td>{{ product.good }}</td>
                  <td>{{ product.good_number }}</td>
                </tr>
              {% else %}
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </td>
        <td>{{ order.remark }}</td>
        <td>{{ order.salesperson }}</td>
        <td>{{ order.created_time|slice:"5:" }}</td>
        <td>{{ order.deliver_time|slice:"5:"|default_if_none:'' }}</td>
        <td><a class="layui-btn layui-btn-sm layui-btn-primary">{{ order.get_order_status_display }}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {# 复用 #}
  {% if page_obj %}
    {% if page_obj.has_previous %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:;">当前页 {{ page_obj.number }} 共 {{ paginator.num_pages }} 页.</a>
    {% if page_obj.has_next %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}