{% extends 'base.html' %}

{% block title %}
  <title>生产管理</title>
{% endblock %}

{% block container %}

  <blockquote class="layui-elem-quote" style="display: flex; justify-content: space-between;">
    生产订单列表
  </blockquote>

{#  <div>#}
{#    <fieldset class="layui-elem-field">#}
{#      <legend>订单状态</legend>#}
{#      <div class="layui-field-box">#}
{#        <a class="layui-btn layui-btn-primary" href="{% url 'product_bl' %}">备料</a>#}
{#        <i class="layui-icon layui-icon-right"></i>#}
{#        <a class="layui-btn layui-btn-primary" href="{% url 'product_scz' %}">生产中</a>#}
{#        <i class="layui-icon layui-icon-right"></i>#}
{#        <a class="layui-btn layui-btn-primary" href="{% url 'product_dfh' %}">待发货</a>#}
{#        <i class="layui-icon layui-icon-right"></i>#}
{#        <a class="layui-btn" href="{% url 'product_ddwc' %}">订单完成</a>#}
{#        <a style="display: inline; float: right;" class="layui-btn layui-btn-normal" href="{% url 'product_all' %}">我的所有生产订单</a>#}
{#      </div>#}
{#    </fieldset>#}
{#  </div>#}

  <div>
    <table class="layui-table">
      <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
{#        <col width="10%">#}
      </colgroup>
      <thead>
      <tr>
        <th>客户名称</th>
        <th>商品名称</th>
        <th>数量</th>
        <th>发货时间</th>
        <th>归属业务</th>
        <th>生产人员</th>
        <th>生产进度</th>
{#        <th>操作</th>#}
      </tr>
      </thead>
      <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.order.customer }}</td>
        <td>{{ product.order.good }}</td>
        <td>{{ product.owen_num }}</td>
        <td>{{ product.order.deliver_time }}</td>
        <td>{{ product.order.salesperson }}</td>
        <td>{{ product.user }}</td>
        <td>
          <a class="layui-btn-sm layui-btn layui-btn-danger" href="javascript:;">
            {{ product.get_status_display }}
          </a>
        </td>
{#        <td><a class="layui-btn layui-btn-normal layui-btn-sm" href="">确认</a></td>#}
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if page_obj %}
    {% if page_obj.has_previous %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:;">当前页 {{ page_obj.number }} 共 {{ paginator.num_pages }} 页.</a>
    {% if page_obj.has_next %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}