<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>昵称</th>
      <th>
        <table>
          <thead>
          <tr>
            <th>产品信息</th>
            <th>数量</th>
          </tr>
          </thead>
        </table>
      </th>
      <th>签名</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>贤心</td>
      <td>
        <table>
          <colgroup>
            <col>
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>型号</th>
              <th>数量</th>
            </tr>
          </thead>
          <tr>
            <td>aimod</td>
            <td>1</td>
          </tr>
          <tr>
            <td>aimod</td>
            <td>1</td>
          </tr>
          <tr>
            <td>aimod</td>
            <td>1</td>
          </tr>
        </table>
      </td>
      <td>人生就像是一场修行</td>
    </tr>
    <tr>
      <td>许闲心</td>
      <td>
        <table>
          <tr>
            <td>fdsfdsf</td>
            <td>10</td>
          </tr>
          <tr>
            <td>fdsfdsf</td>
            <td>10</td>
          </tr>
          <tr>
            <td>fdsfdsf</td>
            <td>10</td>
          </tr>
        </table>
      </td>
      <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
    </tr>
  </tbody>
</table>
</body>
</html>