{% extends 'base.html' %}

{% block title %}
  <title>生产管理</title>
{% endblock %}

{% block container %}

  <blockquote class="layui-elem-quote" style="display: flex; justify-content: space-between;">
    生产列表
  </blockquote>

  <div>
    <fieldset class="layui-elem-field">
      <legend>订单状态</legend>
      <div class="layui-field-box">
        <a class="layui-btn layui-btn-normal" href="{% url 'prod' %}">全部订单</a>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod' %}?status={{ constants.PROD_BL }}">备料</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod' %}?status={{ constants.PROD_PD }}">派单</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod' %}?status={{ constants.PROD_SC }}">生产中</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod' %}?status={{ constants.PROD_DFH }}">待发货</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod' %}?status={{ constants.PROD_WC }}">订单完成</a>
      </div>
    </fieldset>
  </div>

  <div>
    <table class="layui-table">
      <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="10%">
        <col width="20%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead>
      <tr>
        <th>客户名称</th>
        <th>商品名称</th>
        <th>数量</th>
        <th>发货时间</th>
        <th>订单状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.customer }}</td>
        <td>{{ product.good }}</td>
        <td>{{ product.number }}</td>
        <td>{{ product.deliver_time }}</td>
        <td><a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:;">{{ product.get_status_display }}</a></td>
        <td><a class="layui-btn layui-btn-normal layui-btn-sm" href="{% url 'prod_edit' product.id %}">确定</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div>
    <nav>
      <ul class="pagination">
        <li class="step-links">
          {% if products.has_previous %}
            <a class='active layui-btn layui-btn-normal layui-btn-sm' href="?page={{ products.previous_page_number }}">上一页</a>
          {% endif %}

          <span class="current layui-btn layui-btn-primary layui-btn-sm">
                    当前页 {{ products.number }}. 共 {{ products.paginator.num_pages }} 页.</span>

          {% if products.has_next %}
            <a class='active layui-btn layui-btn-normal layui-btn-sm'
               href="?page={{ products.next_page_number }}">下一页</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
{#  <div id="test1" style="justify-content: center"></div>  # layui实现分页#}
{% endblock %}

{% block footer %}
{#  <script>#}
{#      layui.use('laypage', function () {#}
{#          var laypage = layui.laypage;#}
{##}
{#          //执行一个laypage实例#}
{#          laypage.render({#}
{#              elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号#}
{#              , count: 50 //数据总数，从服务端得到#}
{#          });#}
{#      });#}
{#  </script>#}
{% endblock %}
