{% extends 'base.html' %}

{% block title %}
  <title>生产订单列表</title>
{% endblock %}

{% block container %}

  <blockquote class="layui-elem-quote">
    订单列表
  </blockquote>

  <div>
    <table class="layui-table">
      <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="10%">
        <col width="20%">
        <col width="10%">
      </colgroup>
      <thead>
      <tr>
        <th>客户名称</th>
        <th>商品名称</th>
        <th>数量</th>
        <th>发货时间</th>
        <th>订单状态</th>
      </tr>
      </thead>
      <tbody>
      {% for product in products %}
      <tr style="color: dodgerblue">
        <td>{{ product.customer }}</td>
        <td>{{ product.good }}</td>
        <td>{{ product.number }}</td>
        <td>{{ product.deliver_time }}</td>
        <td><a class="layui-btn layui-btn-danger layui-btn-sm" href="javascript:;">{{ product.get_status_display }}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if page_obj %}
    {% if page_obj.has_previous %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:;">当前页 {{ page_obj.number }} 共 {{ paginator.num_pages }} 页.</a>
    {% if page_obj.has_next %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
