{% extends 'base.html' %}

{% block title %}
  <title>生产管理</title>
{% endblock %}

{% block container %}

  <blockquote class="layui-elem-quote" style="display: flex; justify-content: space-between;">
    生产控制列表
  </blockquote>

  <div>
    <fieldset class="layui-elem-field">
      <legend>订单状态</legend>
      <div class="layui-field-box">
        <a style="display: inline; float: left;" class="layui-btn layui-btn-primary" href="{% url 'prod_order' %}">待生产订单</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_material' %}">备料</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_produce' %}">生产中</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_deliver' %}">待发货</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_finish' %}">订单完成</a>
      </div>
    </fieldset>
  </div>

  <div>
    <table class="layui-table">
      <colgroup>
        <col width="15%">
        <col width="15%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead>
      <tr>
        <th>客户名称</th>
        <th>商品名称</th>
        <th>数量</th>
        <th>发货时间</th>
        <th>状态</th>
        <th>归属业务</th>
        <th>生产人员</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for product in product_list %}
      <tr>
        <td>{{ product.order.customer }}</td>
        <td>{{ product.order.good }}</td>
        <td>{{ product.owen_num }}</td>
        <td>{{ product.order.deliver_time }}</td>
        <td>{{ product.get_status_display }}</td>
        <td>{{ product.order.salesperson }}</td>
        <td>{{ product.user }}</td>
        {% if product.status == 4 %}
          <td><a class="layui-btn layui-btn-normal layui-btn-sm" href="javascript:;">生产已完成</a></td>
        {% elif product.status == 3 %}
          <td><a class="layui-btn layui-btn-warm layui-btn-sm"
               onclick="return editProd();" href="{% url 'prod_edit' product.id %}">去发货</a></td>
        {% elif product.status == 2 %}
          <td><a class="layui-btn layui-btn-warm layui-btn-sm"
               onclick="return editProd();" href="{% url 'prod_edit' product.id %}">生产完成</a></td>
        {% elif product.status == 1 %}
          <td><a class="layui-btn layui-btn-warm layui-btn-sm"
               onclick="return editProd();" href="{% url 'prod_edit' product.id %}">备料完成</a></td>
        {% endif %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if page_obj %}
    {% if page_obj.has_previous %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:;">当前页 {{ page_obj.number }} 共 {{ paginator.num_pages }} 页.</a>
    {% if page_obj.has_next %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block footer %}
  <script type="text/javascript" language="JavaScript">
    function editProd() {
        if (confirm('是否将生产状态提交到下一步操作')){
            return true;
        } else {
            return false;
        }
    }
  </script>
{% endblock %}