{% extends 'base.html' %}

{% block title %}
  <title>生产订单列表</title>
{% endblock %}

{% block container %}

  <blockquote class="layui-elem-quote">
    生产控制列表
  </blockquote>

  <div>
    <fieldset class="layui-elem-field">
      <legend>订单状态</legend>
      <div class="layui-field-box">
        <a style="display: inline; float: left;" class="layui-btn" href="{% url 'prod_order' %}">待生产订单</a>
        <i class="layui-icon layui-icon-right"></i>
{#        <a class="layui-btn layui-btn-primary" href="{% url 'prod_material' %}">备料中</a>#}
{#        <i class="layui-icon layui-icon-right"></i>#}
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_produce' %}">生产中</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_deliver' %}">待发货</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_finish' %}">订单完成</a>
        <a class="layui-btn layui-btn-normal" style="float: right"
           href="{% url 'prod_order' %}">拉取新订单</a>
      </div>
    </fieldset>
  </div>

  <div>
    <table class="layui-table">
      <colgroup>
        <col width="3%">
        <col width="20%">
        <col width="22%">
        <col width="20%">
        <col width="6%">
        <col width="6%">
        <col width="6%">
        <col width="6%">
        <col width="6%">
        <col width="5%">
      </colgroup>
      <thead>
      <tr>
        <th></th>
        <th>客户名称</th>
        <th>配件信息及数量</th>
        <th>附加说明</th>
        <th>业务人员</th>
        <th>创建时间</th>
        <th>发货时间</th>
        <th>订单状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td style="color: #01AAED">{{ order.customer }}</td>
        <td>
          <table>
            <colgroup>
              <col width="97%">
              <col width="">
            </colgroup>
            <tbody>
            {% for product in order_list %}
              {% if product.order_id == order.order_id %}
                <tr>
                  <td>{{ product.good }}</td>
                  <td>{{ product.good_number }}</td>
                </tr>
              {% else %}
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </td>
        <td>{{ order.remark }}</td>
        <td>{{ order.salesperson }}</td>
        <td>{{ order.created_time|slice:"5:" }}</td>
        <td>{{ order.deliver_time|slice:"5:"|default_if_none:'未注明' }}</td>
        <td><a class="layui-btn layui-btn-sm layui-btn-primary">{{ order.get_order_status_display }}</a></td>
        <td><a class="layui-btn layui-btn-sm"
               onclick="return addProd();" href="{% url 'prod_add' order.order_id %}">生产</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if page_obj %}
    {% if page_obj.has_previous %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:;">当前页 {{ page_obj.number }} 共 {{ paginator.num_pages }} 页.</a>
    {% if page_obj.has_next %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block footer %}
  <script type="text/javascript" language="JavaScript">
    function addProd() {
        if (confirm('是否进入生产')){
            return true;
        } else {
            return false;
        }
    }
  </script>
{% endblock %}
