{% extends 'base.html' %}

{% block title %}
  <title>生产订单列表</title>
{% endblock %}

{% block container %}

  <blockquote class="layui-elem-quote">
    生产控制列表
  </blockquote>

  <div>
    <fieldset class="layui-elem-field">
      <legend>订单状态</legend>
      <div class="layui-field-box">
        <a style="display: inline; float: left;" class="layui-btn layui-btn-normal" href="{% url 'prod_order' %}">待生产订单</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_material' %}">备料</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_produce' %}">生产中</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_deliver' %}">待发货</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_finish' %}">订单完成</a>
      </div>
    </fieldset>
  </div>

  <div>
    <table class="layui-table">
      <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="10%">
        <col width="20%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead>
      <tr>
        <th>客户名称</th>
        <th>商品名称</th>
        <th>数量</th>
        <th>发货时间</th>
        <th>所属业务</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for order in orders %}
      <tr>
        <td style="color: #01AAED">{{ order.customer }}</td>
        <td>{{ order.good }}</td>
        <td>{{ order.sumnumber }}</td>
        <td>{{ order.deliver_time }}</td>
        <td>{{ order.salesperson }}</td>
        <td><a class="layui-btn layui-btn-sm layui-btn-normal"
               onclick="return addProd();" href="{% url 'order_detail' order.pk %}">生产</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div id="prompt-box" style="display: none">
    <input class="layui-input" type="text" name="number">
  </div>

  {% if page_obj %}
    {% if page_obj.has_previous %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:;">当前页 {{ page_obj.number }} 共 {{ paginator.num_pages }} 页.</a>
    {% if page_obj.has_next %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block footer %}
  <script type="text/javascript" language="JavaScript">
    function addProd() {
        if (confirm('请确认要生产的数量，按确认进行操作')){
            return true;
        } else {
            return false;
        }
    }
  </script>
{% endblock %}
