{% extends 'base.html' %}

{% block title %}
  <title>生产订单列表</title>
{% endblock %}

{% block container %}

  <blockquote class="layui-elem-quote">
    生产控制列表
  </blockquote>

  <div>
    <fieldset class="layui-elem-field">
      <legend>订单状态</legend>
      <div class="layui-field-box">
        <a style="display: inline; float: left;" class="layui-btn" href="{% url 'prod_order' %}">待生产订单</a>
        <i class="layui-icon layui-icon-right"></i>
{#        <a class="layui-btn layui-btn-primary" href="{% url 'prod_material' %}">备料中</a>#}
{#        <i class="layui-icon layui-icon-right"></i>#}
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_produce' %}">生产中</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_deliver' %}">待发货</a>
        <i class="layui-icon layui-icon-right"></i>
        <a class="layui-btn layui-btn-primary" href="{% url 'prod_finish' %}">订单完成</a>
        <a class="layui-btn layui-btn-normal" style="float: right"
           href="{% url 'prod_order' %}">拉取新订单</a>
      </div>
    </fieldset>
  </div>

  <!--按钮组-->
  <fieldset class="layui-elem-field">
{#    <legend>订单状态</legend>#}
    <div class="layui-field-box">
      <div style="right: 50px;">
{#        <button type="button" class="layui-btn layui-btn-primary">全选</button>#}
        <button type="button" class="layui-btn layui-btn-normal" onclick="getProduces()">批量生产</button>
        <button type="button" class="layui-btn layui-btn-danger" onclick="getValues()">批量删除</button>
      </div>
    </div>
  </fieldset>

  <div>
    <table class="layui-table">
    {% csrf_token %}
      <colgroup>
        <col width="3%">
        <col width="16%">
        <col width="25%">
        <col width="22%">
        <col width="6%">
        <col width="6%">
        <col width="6%">
        <col width="6%">
        <col width="5%">
        <col width="5%">
      </colgroup>
      <thead>
      <tr>
        <th><input type="checkbox" id="checkAll" onclick="checkAll()"></th>
        <th>客户名称</th>
        <th>产品信息及数量</th>
        <th>附加说明</th>
        <th>业务人员</th>
        <th>创建时间</th>
        <th>发货时间</th>
        <th>订单状态</th>
        <th>生产</th>
        <th>删除</th>
      </tr>
      </thead>
      <tbody>
      {% for order in orders %}
      <tr>
        <td><input type="checkbox" onclick="checkOne()" value="{{ order.order_id }}" name="order"></td>
        <td style="color: #01AAED">{{ order.customer }}</td>
        <td>
          <table>
            <colgroup>
              <col width="97%">
              <col width="">
            </colgroup>
            <tbody>
            {% for product in order_list %}
              {% if product.order_id == order.order_id %}
                <tr>
                  <td>{{ product.good }}</td>
                  <td>{{ product.good_number }}</td>
                </tr>
              {% else %}
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </td>
        <td>{{ order.remark }}</td>
        <td>{{ order.salesperson }}</td>
        <td>{{ order.created_time|slice:"5:" }}</td>
        <td>{{ order.deliver_time|slice:"5:"|default_if_none:'未注明' }}</td>
        <td><a class="layui-btn layui-btn-sm layui-btn-primary">{{ order.get_order_status_display }}</a></td>
        <td><a class="layui-btn layui-btn-sm layui-btn-normal" onclick="return addProd();"
              href="{% url 'prod_add' order.order_id %}">生产</a></td>
        <td><a class="layui-btn layui-btn-sm layui-btn-danger" onclick="return delProd();"
              href="{% url 'prod_del' order.order_id %}">删除</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if page_obj %}
    {% if page_obj.has_previous %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:;">当前页 {{ page_obj.number }} 共 {{ paginator.num_pages }} 页.</a>
    {% if page_obj.has_next %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block footer %}
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <script type="text/javascript" language="JavaScript">
      function addProd() {
          if (confirm('是否进入生产')) {
              return true;
          } else {
              return false;
          }
      }

      function delProd() {
          if (confirm('是否要删除该订单')) {
              return true;
          } else {
              return false;
          }
      }

      function checkAll() {
          var flag = document.getElementById("checkAll").checked;
          var ones = document.getElementsByName("order");
          for (var i=0; i<ones.length; i++){
              ones[i].checked=flag
          }
      }

      function checkOne() {
          var one = document.getElementsByName("order");
          one.checked = true;
      }

      /*批量删除*/
      function getValues() {
          var valArr = [];
          var ones = document.getElementsByName('order');
          for (var i = 0; i < ones.length; i++) {
              if (ones[i].checked) {
                  valArr[i] = ones[i].value
              }
          }
          if (valArr.length !== 0) {
              if (!confirm("确定删除这些吗?")) {
                  return;
              }
              // var vals = valArr.join(',');
              // alert(valArr);
              $.ajax({
                  //地址一定要正确
                  url: "{% url 'prod_del_all' %}",
                  //全部大写
                  type: 'POST',
                  contenType: 'application/json',
                  //不加这个，ajax会将结果后边加个[]，例如{'vals[]':[4, 6, 8]}
                  traditional: true,
                  //不加这个，会报服务器终止了一个在运行的程序
                  async: false,
                  //不加这个，会报Forbidden (CSRF token missing or incorrect.): /product/delall/
                  data: {
                      csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                      'vals': valArr,
                  },
                  success: function () {
                      console.log('删除成功')
                      window.location.replace('/product/order');
                      alert('删除成功，等待跳转')
                  },
                  error: function () {
                      alert("删除失败");
                  }
              })
          } else {
              var error_m = "请选择数据";
              alert(error_m);
          }
      }

      /*批量生产*/
      function getProduces() {
          var valArr = [];
          var ones = document.getElementsByName('order');
          for (var i = 0; i< ones.length; i++) {
              if (ones[i].checked) {
                  valArr[i] = ones[i].value
              }
          }
          if (valArr.length !== 0) {
              if (!confirm("确定要生产这些吗？")) {
                  return;
              }
              $.ajax({
                  url: "{% url 'prod_add_all' %}",
                  type: 'POST',
                  contenType: 'application/json',
                  traditional: true,
                  async: false,
                  data: {
                      csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                      'vals': valArr,
                  },
                  success: function () {
                      console.log('添加生产成功');
                      window.location.replace('/product/produce');
                      alert('添加成功，等待跳转')
                  },
                  error: function (){
                      alert('添加生产失败');
                  }
              })
          } else {
              var error_m = '请选择数据';
              alert(error_m)
          }
      }
  </script>
{% endblock %}
