<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  {% block title %}
  {% endblock %}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">生产MAS管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="{% url 'order_all' %}">订单一览</a></li>
      <li class="layui-nav-item"><a href="{% url 'product_all' %}">生产流程控制台</a></li>
      <li class="layui-nav-item"><a href="{% url 'product_seach' %}">订单搜索</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">操作日志</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">
{#          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">#}
          欢迎：{{ request.session.user_name }}
        </a>
{#        <dl class="layui-nav-child">#}
{#          <dd><a href="">基本资料</a></dd>#}
{#          <dd><a href="">安全设置</a></dd>#}
{#        </dl>#}
      </li>
      <li class="layui-nav-item"><a href="{% url 'logout' %}">注销</a></li>
    </ul>
  </div>

  <div class="layui-body" style="left: 0">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">

      {% block container %}
        {# 页面内容区域 #}
      {% endblock %}

    </div>
  </div>

  <div class="layui-footer" style="left: 0">
    <!-- 底部固定区域 -->
    济南控创电子科技有限公司-生产MAS管理系统
  </div>
</div>
<script src="/static/layui/layui.js"></script>
{% block footer %}
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
</script>
{% endblock %}
</body>
</html>